{% extends 'base.html' %}

{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: center;
  }
</style>


<form id="id_password_change_form" method="POST" class="form-signin">{% csrf_token %}
  <h1 class="h3 mb-3 font-weight-normal">تغییر گذرواژه</h1>
    <input name="old_password" class="form-control" placeholder="گذرواژه  قدیمی" type="password" id="id_old_password" required="true"
    onblur="if(this.value==''){ this.value='گذرواژه  قدیمی'; this.style.color='#101010';}"
                onfocus="if(this.value=='گذرواژه  قدیمی'){ this.value=''; this.style.color='#101010';}"
                style="color:#101010;">
    <input name="new_password1" class="form-control" placeholder="گذرواژه جدید" type="password" id="id_new_password1" required="true"
    onblur="if(this.value==''){ this.value='گذرواژه جدید'; this.style.color='#101010';}"
                onfocus="if(this.value=='گذرواژه جدید'){ this.value=''; this.style.color='#101010';}"
                style="color:#101010;">
    <input name="new_password2" class="form-control" placeholder="تایید گذرواژه جدید" type="password" id="id_new_password2" required="true"
    onblur="if(this.value==''){ this.value='گذرواژه جدید'; this.style.color='#101010';}"
                onfocus="if(this.value=='گذرواژه جدید'){ this.value=''; this.style.color='#101010';}"
                style="color:#101010;">

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

    <div class="d-grid col-6 mx-auto">
        <button type="submit" class="btn btn-lg btn-primary btn-block text-center mt-5 p3">به روزرسانی</button>
    </div>
</form>


{% endblock %}





