{% extends 'base.html' %}
{% block title %}
تهیه انواع نقشه 
{% endblock title %}
{% block content %}
<div class="container m-5 p3">

    <h1 class="m-5 p2">
        <small class="text-muted">تهیه انواع نقشه در مقیاس های گوناگون</small>
    </h1>


    <div class="container m-5 p3">

     
    
    
        <div class="postBodyDetail">
            <div class="m-5 p3 ">
              <hr class="mt-2 mb-0"/>
              <hr class="mt-0 mb-0"/>
              <hr class="mt-0 mb-5"/>
          
              <div class="m-5 p5" >
                <h4 style="line-height: 50px;" >
                  آسمان کشت با بهره مندی از تیمی متخصص و با تجربه در عرصه نقشه برداری به همراه سابقه انجام پروژه های کشوری در حوزه ی
                  تونل، مسیر، بوستان ها و همکاری با سازمان های گوناگون می تواند پروژه های شما را با بالا ترین کیفیت پذیرا باشد.
                  برخی از خدمات آسمان کشت : 
                   <ul>
                       <li>طراحی شبکه های میکروژئودزی</li>
                       <li>نظارت بر سلامت پل ها و سازه های عظیم</li>
                       <li>خدمات GNSS</li>
                       <li>نقشه برداری مسیر</li>
                       <li>نقشه برداری با پهپاد</li>
                       <li>پیاده سازی نما</li>
                       <li>رسم و کارتوگرافی</li>
                       <li>کاداستر</li>
                   </ul>
                   

                </h4>
                </div>
                <br>
                <img class="img-fluid" src="https://imgurl.ir/uploads/x60878_.jpg" alt="کشاورزی-دقیق-سنجش-از-دور-بررسی-پوشش-گیاهی-آسمان-کشت">
              
            </div>
            </div>
     
    
    </div>
    <h4 class="h5 text-muted mt-3">فرم تماس</h4>
    <div class="d-grid col-6 mx-auto">
      <a href="{% url 'contactus:contactus' %}" type="button" class="btn btn-secondary">تماس با ما</a>
    </div>

</div>

{% endblock content %}