<!-- {% extends "base.html" %}

{% block title %}جست و جو{% endblock %}
{% block content %}
{% if query %}
<h1>مقالات شامل "{{ query }}"</h1>
<h3>
{% with results.count as total_results %}
یافته شده{{ total_results }} از{{ total_results|pluralize }}
{% endwith %}
</h3>
{% for post in results %}
<h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></
h4>
{{ post.body|markdown|truncatewords_html:5 }}
{% empty %}
<p>There are no results for your query.</p>
{% endfor %}
<p><a href="{% url 'articles:post_search' %}">جست و جوی دوباره</a></p>
{% else %}
<h1>جست و جو</h1>
<form method="get">
{{ form.as_p }}
<input type="submit" value="Search">
</form>
{% endif %}
{% endblock %} -->