{% extends 'base.html' %}
{% block title %}
مدیریت بحران-کنترل سیلاب
{% endblock title %}
{% block content %}
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>

<div class="container m-5 p3">

    <h1 class="m-5 p2">
        <small class="text-muted">شناسایی آلودگی های نفتی</small>
    </h1>


    <div class="container m-5 p3">
        


    
    
        <div class="postBodyDetail">
            <div class="m-5 p3 ">
              <hr class="mt-2 mb-0"/>
              <hr class="mt-0 mb-0"/>
              <hr class="mt-0 mb-5"/>
          
              <div class="m-5 p5" >
                <h4 style="line-height: 50px;" >
            
              

                </h4>
                </div>
                <br>
               
                <br>
                <img class="img-fluid center" src="https://www.mdpi.com/remotesensing/remotesensing-11-01589/article_deploy/html/images/remotesensing-11-01589-g001.png" alt="-فرونشست-subsidence-asemankesht-کشاورزی-دقیق-سنجش-از-دور-بررسی-پوشش-گیاهی-آسمان-کشت">
            </div>
            </div>
     
    
    </div>
    <h4 class="h5 text-muted mt-3">فرم تماس</h4>
    <div class="d-grid col-6 mx-auto">
      <a href="{% url 'contactus:contactus' %}" type="button" class="btn btn-secondary">تماس با ما</a>
    </div>

</div>

{% endblock content %}