{% extends 'base.html' %}
{% load static %}

{% block content %}


<style type="text/css">

  .card-signin {
	  width: 100%;
	  max-width: 400px;
	  padding: 15px;
	  margin: auto;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }


</style>

<div class="container-fluid m-5 p3">
	<div class="row justify-content-center">
		<div class="card card-signin">
		  <div class="card-body">
		    <form class="form-signin" method="post">{% csrf_token %}
				<div class="d-flex flex-column pb-3">
				<img class="img-fluid mx-auto d-block" src="{% static 'articles/img/asemankesht2forweb.png' %}" alt="ورود-آسمانکشت--عضویت-کشاورزی-هوش مصنوعی-سنجش از دور" width="72" height="72">
				</div>
				<input type="email" name="email" id="inputEmail" class="form-control" placeholder="ایمیل" required autofocus 
                onblur="if(this.value==''){ this.value='ایمیل'; this.style.color='#101010';}"
                onfocus="if(this.value=='ایمیل'){ this.value=''; this.style.color='#101010';}"
                style="color:#101010;">
                

				<input type="password" name="password" id="inputPassword" class="form-control" placeholder="گذرواژه" required
                onblur="if(this.value==''){ this.value='گذرواژه'; this.style.color='#101010';}"
                onfocus="if(this.value=='گذرواژه'){ this.value=''; this.style.color='#101010';}"
                style="color:#101010;">

				{% for field in login_form %}
				<p>
				{% for error in field.errors %}
				<p style="color: red">{{ error }}</p>
				{% endfor %}
				</p>
				{% endfor %}
				{% if login_form.non_field_errors %}
				<div style="color: red">
				<p>{{login_form.non_field_errors}}</p>
				</div>

				{% endif %}

                <div class="d-grid col-6 mx-auto">
                    <button type="submit" class="btn btn-lg btn-primary btn-block text-center mt-5 p3">ورود</button>
                </div>
				</form>

				<div class="d-flex flex-column my-4">
					<a class="m-auto" href="{% url 'password_reset' %}">بازیابی گذرواژه</a>
				</div>
                {% if request.user.is_authenticated %}
                <div class="d-flex flex-column my-4">
					<a class="m-auto" href="{% url 'password_change' %}">تغییر گذرواژه</a>
				</div>
                 {% endif %}
		  </div>
		</div>
		
	</div>
</div>






{% endblock content %}